.rating {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
}
.rating input {
  appearance: none;
}
.rating label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 128px;
  transition: 0.4s;
  filter: grayscale(100%);
  cursor: pointer;
}
.rating span {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transform: translatey(12px) scale(0.4);
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.4s;
}
.rating:hover label {
  width: 160px;
  opacity: 0.2;
}
.rating input:hover + label, input:checked + label {
  opacity: 1;
  filter: grayscale(0);
}
.rating input:hover + label span {
  transform: none;
  opacity: 1;
}
.rating input:hover + label, input:checked + label span {
  transform: none;
  opacity: 1;
}
.inside .users-reacting {
  display: flex;
  justify-content: center;
}
.user-reaction {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px 20px;
}
.user-reaction .user-count {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
td.performance.column-performance {
  display: flex;
  align-items: center;
} 
.performance img {
  width: 25px;
  height: 25px;
}
span.performance-racting {
  margin-inline: 20px;
}